@import "../iconfont/iconfont.css";
p {
  margin-bottom: 0;
}
.bradiu {
  border-radius: 6px;
}
#comTop {
  background: deepskyblue;
}
#comTop a,
#comTop h1 {
  color: white;
}
.mui-content {
  width: 100%;
  height: inherit;
  position: relative;
}
.mui-content .comBtn {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  background: deepskyblue;
  color: white;
  height: 40px;
  line-height: 40px;
  border-radius: 6px;
  font-size: 13px;
}
#allul {
  margin-top: 0;
}
#allul li {
  padding: 0;
}
#allul li .comli {
  padding: 16px 10px;
  margin: 0;
}
#allul li .comli span {
  font-size: 14px;
  vertical-align: middle;
}
#allul li .comli span.iconfont {
  font-size: 24px;
  margin: 0 6px;
}
